Repository Anselmoo/dracula-palette: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-format, eslint, type-check, svg-optimization-check

prettier-format:
  name: Prettier Format
  entry: npm run format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Type Check
  entry: npm run type:check
  language: system
  pass_filenames: false

svg-optimization-check:
  name: SVG Optimization Check
  entry: npm run optimize:svg:check
  language: system
  pass_filenames: false

deploy: aab1bd4ed1f07402be048c22350c2e070b219f2b
  assets/index-CUq-RofY.css
  assets/index-CkoOmqpV.css
  assets/index-Ilen4jgh.js
  assets/index-Ilen4jgh.js.map
  assets/index-o97blMG2.js
  assets/index-o97blMG2.js.map
  index.html
Due: prettier-format, eslint

fix: update test commands in release script for consistency
  scripts/release.sh
Due: none

chore: bump version to 1.0.2
  package-lock.json
  package.json
Due: prettier-format

fix: correct type checking command in release workflow
  .github/workflows/release.yml
Due: prettier-format

fix: correct type-check command in documentation
  CONTRIBUTING.md
  DEPLOYMENT.md
Due: prettier-format

fix: revert version number to 1.0.1 in package.json
  package.json
Due: prettier-format

chore: bump version to 1.0.2
  package.json
Due: prettier-format

fix: resolve TypeScript warnings in mobile tests and add missing Vue test utils
  src/__tests__/mobile.test.ts
  src/components/PaletteGenerator.vue
Due: prettier-format, eslint, type-check

fix: mobile and tablet issues (#29)
  package-lock.json
  package.json
  src/App.vue
  src/__tests__/mobile.test.ts
  src/components/ColorSuggestions.vue
  src/components/DraculaPalette.vue
  src/components/PaletteGenerator.vue
Due: prettier-format, eslint, type-check

deploy: 54ac3c28240b8f86577b6be91fe5c5a95b128d7a
  assets/index-CUq-RofY.css
  assets/index-FI2Dmb4E.css
  assets/index-QBKBFKiT.js
  assets/index-QBKBFKiT.js.map
  assets/index-o97blMG2.js
  assets/index-o97blMG2.js.map
  index.html
Due: prettier-format, eslint

chore: bump version to 1.1.0
  package-lock.json
  package.json
Due: prettier-format

deploy: 58334cb8aa095b02cada183c16b0cc09b609bb67
  assets/index-QBKBFKiT.js
  assets/index-QBKBFKiT.js.map
  assets/index-lvxPsUND.js
  assets/index-lvxPsUND.js.map
  index.html
Due: prettier-format, eslint

deploy: 43ed635c28d557dce0edd1c1d30da7fdb6be9031
  assets/index-BnzooCcy.js
  assets/index-BnzooCcy.js.map
  assets/index-CX1PZmwg.js
  assets/index-CX1PZmwg.js.map
  assets/index-DYPplTZI.css
  assets/index-FI2Dmb4E.css
  index.html
Due: prettier-format, eslint

chore: update dependencies for TypeScript, ESLint, and Vue packages
  package-lock.json
  package.json
Due: prettier-format

chore: update version to 1.2.0 and improve emit interface consistency
  eslint.config.js
  package-lock.json
  package.json
  src/components/ColorExportModal.vue
  src/components/ColorInput.vue
  src/components/ColorSuggestions.vue
  src/components/DraculaPalette.vue
  src/components/PaletteGenerator.vue
  src/data/draculaColors.ts
  src/utils/colorMatcher.ts
  src/utils/paletteGenerator.ts
  src/utils/paletteManager.ts
Due: prettier-format, eslint, type-check

chore: update dependencies for TypeScript, ESLint, and Vue packages (#48)
  eslint.config.js
  package-lock.json
  package.json
  src/components/ColorExportModal.vue
  src/components/ColorInput.vue
  src/components/ColorSuggestions.vue
  src/components/DraculaPalette.vue
  src/components/PaletteGenerator.vue
  src/data/draculaColors.ts
  src/utils/colorMatcher.ts
  src/utils/paletteGenerator.ts
  src/utils/paletteManager.ts
Due: prettier-format, eslint, type-check

deploy: 26dbba1f76c1f07bc80b1f26c6498b288c5e3965
  assets/index-CX1PZmwg.js
  assets/index-CX1PZmwg.js.map
  assets/index-DSENobBH.css
  assets/index-DYPplTZI.css
  assets/index-FJ-shZK6.js
  assets/index-FJ-shZK6.js.map
  index.html
Due: prettier-format, eslint

Fix header and footer color and alignment in Alucard theme (#116)
  package-lock.json
  src/assets/styles/variables.scss
  src/components/Footer.vue
  src/components/Header.vue
  src/components/ThemeToggle.vue
Due: prettier-format, eslint, type-check

Fix color picker functionality by replacing button with native input (#117)
  src/components/ColorInput.vue
Due: prettier-format, eslint, type-check

Fix Advanced Gradient Patterns: Rename component and add configuration options (#119)
  src/__tests__/AdvancedGradientExplore.test.ts
  src/components/ScientificAnalysis.vue
  src/components/analysis/AdvancedGradientExplore.vue
Due: prettier-format, eslint, type-check

Revert "Replace chord diagram with interactive color fan visualization"
  src/components/analysis/HarmonyPanel.vue
Due: prettier-format, eslint, type-check

Refactor HarmonyPanel to add edges between color pins and improve hue deduplication logic
  src/assets/styles/_analysis-mixins.scss
  src/components/ColorInput.vue
  src/components/ThemeToggle.vue
  src/components/analysis/HarmonyPanel.vue
Due: prettier-format, eslint, type-check

Add D3.js dependencies and implement HarmonyChord component for chord diagram visualization
  package-lock.json
  package.json
  src/components/analysis/HarmonyChord.vue
  src/components/analysis/HarmonyPanel.vue
Due: prettier-format, eslint, type-check

Fix Harmony Color Wheels and Remove Confusing Chord Diagram (#120)
  package-lock.json
  package.json
  src/assets/styles/_analysis-mixins.scss
  src/assets/styles/main.scss
  src/components/ColorInput.vue
  src/components/ThemeToggle.vue
  src/components/analysis/ContrastPolygon.vue
  src/components/analysis/CycleMap.vue
  src/components/analysis/HarmonyChord.vue
  src/components/analysis/HarmonyPanel.vue
  src/components/analysis/RelationshipIcons.vue
Due: prettier-format, eslint, type-check

Fix: Make quick color combinations theme-aware for Alucard mode (#135)
  src/__tests__/paletteGenerator.test.ts
  src/components/PaletteGenerator.vue
Due: prettier-format, eslint, type-check

Fix Polygon component: Add missing network icon and correct theme styling (#123)
  src/components/Icon.vue
  src/components/analysis/ContrastPolygon.vue
Due: prettier-format, eslint, type-check

Fix palette color mismatch between Dracula and Alucard modes for color picker and examples (#127)
  src/App.vue
  src/__tests__/themeAwareColors.test.ts
  src/components/ColorInput.vue
Due: prettier-format, eslint, type-check

Fix color export format options to show actual color values instead of hardcoded placeholders (#132)
  src/__tests__/exportUtils.test.ts
  src/components/ColorExportModal.vue
  src/utils/exportUtils.ts
Due: prettier-format, eslint, type-check

Refactor test cases and improve formatting for color options and theme-aware colors
  src/__tests__/exportUtils.test.ts
  src/__tests__/themeAwareColors.test.ts
  src/components/ColorInput.vue
  src/components/PaletteGenerator.vue
  src/components/analysis/AdvancedGradientExplore.vue
Due: prettier-format, eslint, type-check

Add box styling for color variants and fix background layering in both themes (#134)
  src/components/DraculaPalette.vue
Due: prettier-format, eslint, type-check

Fix consistent colors for red, orange, green depending on dracula or alucard theme (#138)
  src/__tests__/contrastMatrix.test.ts
  src/__tests__/contrastPolygon.test.ts
  src/__tests__/paletteGenerator.test.ts
  src/components/ContrastMatrix.vue
  src/components/PaletteGenerator.vue
  src/components/analysis/ContrastPolygon.vue
Due: prettier-format, eslint, type-check

Refactor test cases for theme-aware colors and improve formatting in PaletteGenerator
  src/__tests__/contrastMatrix.test.ts
  src/__tests__/contrastPolygon.test.ts
  src/__tests__/paletteGenerator.test.ts
  src/components/PaletteGenerator.vue
Due: prettier-format, eslint, type-check

Add .gitignore entries for Serena project files and directories
  .gitignore
Due: none

deploy: 797ca76e811eae0e773c3858c5546fd2fb20e9c6
  assets/index-B-9oIPLI.css
  assets/index-B2sLz2Iv.js
  assets/index-B2sLz2Iv.js.map
  assets/index-DSENobBH.css
  assets/index-Dt2rZ23s.js
  assets/index-Dt2rZ23s.js.map
  index.html
Due: prettier-format, eslint

Refactor color selection logic and enhance documentation for Lorem Ipsum Analyzer
  docs/LOREM_IPSUM_FEATURES.md
  src/__tests__/LoremIpsumAnalyzer.test.ts
  src/components/analysis/LoremIpsumAnalyzer.vue
Due: prettier-format, eslint, type-check

Path conditions:
  prettier-format: any of: \.(vue|js|jsx|ts|tsx|json|md|yaml|yml|scss|css)$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

  eslint: any of: \.(vue|js|jsx|cjs|mjs|ts|tsx|cts|mts)$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

  type-check: any of: \.(vue|ts|tsx)$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

  svg-optimization-check: any of: \.svg$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

