Repository Anselmoo/dracula-palette: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-format, eslint, type-check, svg-optimization-check

prettier-format:
  name: Prettier Format
  entry: npm run format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

type-check:
  name: TypeScript Type Check
  entry: npm run type:check
  language: system
  pass_filenames: false

svg-optimization-check:
  name: SVG Optimization Check
  entry: npm run optimize:svg:check
  language: system
  pass_filenames: false

Add Color Selection and Variable Text Length to Lorem Ipsum Analyzer (#147)
  docs/LOREM_IPSUM_FEATURES.md
  package-lock.json
  src/__tests__/LoremIpsumAnalyzer.test.ts
  src/components/analysis/LoremIpsumAnalyzer.vue
Due: prettier-format, eslint, type-check

deploy: 2094b4e7105ba6a1102b00d059159b835462f323
  assets/index-7OSHamLE.js
  assets/index-7OSHamLE.js.map
  assets/index-B-9oIPLI.css
  assets/index-B-uU0v07.css
  assets/index-Dt2rZ23s.js
  assets/index-Dt2rZ23s.js.map
  index.html
Due: prettier-format, eslint

Remove CycleMap component and associated tests
  src/__tests__/CycleMap.test.ts
  src/components/analysis/CycleMap.vue
Due: prettier-format, eslint, type-check

Fix Dark/Light Drift overflow and expand Readability samples for large color palettes (#150)
  package-lock.json
  src/components/analysis/DarkLightDrift.vue
Due: prettier-format, eslint, type-check

Implement new Color Relationship Map with multi-color contrast visualization and theme support (#151)
  src/components/ScientificAnalysis.vue
  src/components/analysis/ColorRelationshipMap.vue
  src/components/analysis/CycleMap.vue
Due: prettier-format, eslint, type-check

fix: Refactor template and style bindings for improved readability in ColorRelationshipMap and DarkLightDrift components
  src/components/analysis/ColorRelationshipMap.vue
  src/components/analysis/DarkLightDrift.vue
Due: prettier-format, eslint, type-check

deploy: 7884b0bb598488556e956a6c33a97525e1c3c336
  assets/index-7OSHamLE.js
  assets/index-7OSHamLE.js.map
  assets/index-B-uU0v07.css
  assets/index-CEQ6F9cJ.css
  assets/index-NidJjc_9.js
  assets/index-NidJjc_9.js.map
  index.html
Due: prettier-format, eslint

Fix chord diagram outer ring color order (green→red to red→green) (#163)
  package-lock.json
  src/components/analysis/HarmonyChord.vue
Due: prettier-format, eslint, type-check

deploy: b58dfa488023291ed5c7f8735117da9e4050e46a
  assets/index-Bdqil8mI.js
  assets/index-Bdqil8mI.js.map
  assets/index-C82fNE6N.css
  assets/index-CEQ6F9cJ.css
  assets/index-NidJjc_9.js.map
  index.html
Due: prettier-format, eslint

Replace bracketed modifiers with hyphens in all export names (#167)
  src/__tests__/exportUtils.test.ts
  src/components/PaletteGenerator.vue
  src/utils/exportUtils.ts
Due: prettier-format, eslint, type-check

deploy: d1d5192fcdcd65e69dc318630afb7c61abac4c6c
  assets/index-Bdqil8mI.js
  assets/index-Bdqil8mI.js.map
  assets/index-Bsscz4Zx.css
  assets/index-C82fNE6N.css
  assets/index-Dl65M4dx.js
  assets/index-Dl65M4dx.js.map
  index.html
Due: prettier-format, eslint

Fix spacing in AdvancedGradientExplore test for label and control input checks
  src/__tests__/AdvancedGradientExplore.test.ts
Due: prettier-format, eslint, type-check

Standardize UI controls across analysis menu components using design system mixins (#165)
  package-lock.json
  src/__tests__/AdvancedGradientExplore.test.ts
  src/components/analysis/AdvancedGradientExplore.vue
  src/components/analysis/ColorRelationshipMap.vue
  src/components/analysis/GeneticMixer.vue
Due: prettier-format, eslint, type-check

deploy: acc26db53685be6be21a9a6015c27132dd5d984f
  assets/index-Bsscz4Zx.css
  assets/index-C3M3UxRU.js
  assets/index-C3M3UxRU.js.map
  assets/index-Dl65M4dx.js
  assets/index-Dl65M4dx.js.map
  assets/index-Du1d_4gn.css
  index.html
Due: prettier-format, eslint

Fix typo in build-with-check script command
  package.json
Due: prettier-format

Fix formatting in analysis input and range mixins for consistency
  src/assets/styles/_analysis-mixins.scss
Due: prettier-format

Unify button, input, and animation styles across analysis tools (#171)
  src/assets/styles/_analysis-mixins.scss
  src/components/ScientificAnalysis.vue
  src/components/analysis/AdvancedGradientExplore.vue
  src/components/analysis/AutoTintSteps.vue
  src/components/analysis/ContrastPolygon.vue
  src/components/analysis/GeneticMixer.vue
  src/components/analysis/GlassmorphismReadability.vue
  src/components/analysis/GradientLab.vue
  src/components/analysis/HarmonyPanel.vue
  src/components/analysis/HueSpiral.vue
  src/components/analysis/LoremIpsumAnalyzer.vue
  src/components/analysis/MixingPanel.vue
Due: prettier-format, eslint, type-check

deploy: 964045b0c067c85a0c7a123e6404fc07da992465
  assets/index-BjzCfzNj.js
  assets/index-BjzCfzNj.js.map
  assets/index-C3M3UxRU.js.map
  assets/index-CN2JeSFF.css
  assets/index-Du1d_4gn.css
  index.html
Due: prettier-format, eslint

Path conditions:
  prettier-format: any of: \.(vue|js|jsx|ts|tsx|json|md|yaml|yml|scss|css)$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

  eslint: any of: \.(vue|js|jsx|cjs|mjs|ts|tsx|cts|mts)$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

  type-check: any of: \.(vue|ts|tsx)$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

  svg-optimization-check: any of: \.svg$, but not: (?x)^(
  \.trunk/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*
)$

